*.code-workspace
.vscode/
results/
tmp/
!config/template_pollynet_processing_chain_config.json
!config/template_pollynet_processing_chain_link.txt
!config/polly_global_config.json
config/
recent_plots/
!todo_filelist/fileinfo_new.txt
!todo_filelist/pollynet_history_of_places_new.txt
todo_filelist/
test/
lib/__pycache__/
debug.mat
