# IDE relevant
*.code-workspace
.vscode
*.log

# Processing outputs
./results
./tmp
./config
recent_plots_new
recent_plots
results_new
todo_filelist
test
netcdf4
log
done_filelist

# Interim outputs
node_modules
__pycache__

# unnecessary files
debug.mat
*.asv
package-lock.json
package.json

# untracked folders
tmp
config