*.code-workspace
.vscode/
results/
recent_plots/
todo_filelist/
!todo_filelist/fileinfo_new.txt
!todo_filelist/pollynet_history_of_places_new.txt
!config/pollynet_processing_chain_config.json
!lib/write_to_filelist.m
test/
debug.mat